
<ion-content class="home">
  <ion-card id="main">
    <ion-list>
      <h2 class="subtitulo">Leyendo</h2>

      <div class="btns">
        <button mat-raised-button class="btn-custom" expand="block" (click)="agregarManga()">Agregar Manga</button>
      </div>
      
      <ion-item *ngFor="let manga of mangasFiltrados">
        <ion-label>
          <h2>{{ manga.nombre }}</h2>
          <p>Volumen: {{ manga.volumen }}</p>
      
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="manga.estadoSeleccionado" (selectionChange)="cambiarEstado(manga, $event.value)">
              <mat-option *ngFor="let estado of estados" [value]="estado">
                {{ estado }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-label>
      
        <img [src]="manga.imagen"
        alt="Imagen del manga"
        class="manga-img"
        (click)="abrirImagen(manga.imagen)" />
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>


