<ion-header>
  <ion-toolbar class="custom-header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button></ion-buttons>
      <app-logo></app-logo> <!--componente logo-->
  </ion-toolbar>
</ion-header>

<ion-content class="home" fullscreen>
  <ion-card id="main">

    
    <div style="padding: 16px;">
      <h2 class="subtitulo">Esta es tu ubicación:</h2>

      <div id="map" style="width: 100%; height: 300px;"></div>
      <ion-item *ngIf="lat && lng">
        <p>Ubicación actual: Latitud {{ lat }}, Longitud {{ lng }}</p>
      </ion-item>


    </div>
  </ion-card>

</ion-content>








    



  <ion-footer>
    <ion-toolbar color="light">
      <ion-title class="ion-text-center" size="small">
        <app-footer></app-footer> <!--componente footer-->
      </ion-title>
    </ion-toolbar>
  </ion-footer>
