<ion-header>
  <ion-toolbar class="custom-header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button></ion-buttons>
      <app-logo></app-logo> <!--componente logo-->
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

      <ion-title class="titulo-principal">Inicio</ion-title>



  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center" size="small">
      <app-footer></app-footer> <!--componente footer-->
    </ion-title>
  </ion-toolbar>
</ion-footer>