
<ion-content class="home">
  <ion-card id="main">

    <mat-card class="ion-padding" color="primary" style="padding-top: 20px;">
      <mat-card-content>
        
          <img
            #fotoPerfil
            [src]="imagenPerfil || '/assets/images/profile.jpg'"
            alt="Perfil Usuario"
            class="foto-perfil"
            (click)="cambiarFoto()"
            style="cursor: pointer;"
          />
        
        <p #usuarioTexto class="usuario">Usuario: {{ user }}</p>
      </mat-card-content>
    </mat-card>
    <ion-item>
    <div style="padding: 16px;">
      <h2 class="subtitulo">Información del usuario</h2>

      <div #nombreField class="nombreInput">
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </div>
      <div #apellidoField class="apellidoInput">
        <ion-label>Apellido</ion-label>
        <ion-input [(ngModel)]="apellido"></ion-input>
      </div>

      <div #emailField class="emailInput">
        <ion-label>Correo</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </div>
      
    
      <mat-form-field appearance="fill" style="width: 100%; margin-top: 10px;">
        <mat-label>Nivel de Educación</mat-label>
        <mat-select [(ngModel)]="educacion">
          <mat-option *ngFor="let nivel of nivelesEducacion" [value]="nivel">
            {{ nivel }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="nacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    

      <div class="btns">
        <button mat-raised-button class="btn-custom" (click)="limpiar()">Limpiar</button>
        <button mat-raised-button class="btn-custom" (click)="mostrar()">Mostrar</button>
        <button mat-raised-button color="primary" class="btn-custom" (click)="guardar()">Guardar</button>
      </div>
    </div>
    </ion-item>
  </ion-card>

</ion-content>
