.main {
  display: flex; // Usa flexbox para centrar el contenido
  flex-direction: column; // Apila los elementos en columna
  align-items: center; // Centra los elementos horizontalmente
  justify-content: center; // Centra los elementos verticalmente
  height: 95%; // Altura del contenedor principal
  background-color: #fffffff3; // Fondo blanco translúcido
  padding: 0 16px; /* Espacio horizontal alrededor del contenido */
  color: #333; // Color de texto oscuro
  text-align: center; // Centra el texto
  box-sizing: border-box; // Incluye el padding en el tamaño total
  border-radius: 40px; // Bordes redondeados
  
}

ion-content::part(scroll) {
  background-image: url('/../assets/images/background.jpg'); // Imagen de fondo
  background-size: cover; // Escala la imagen para cubrir todo
  background-position: center; // Centra la imagen
  background-repeat: no-repeat; // No repetir la imagen

}

.home {
  display: flex; // Flexbox para el layout principal
  position: relative; // Necesario para posicionamiento interno
  height: 100%; // Altura completa
  padding: 0 16px; // Padding lateral
  color: #333; // Color del texto
  text-align: center; // Centrado de texto
  box-sizing: border-box; // Incluye padding en el tamaño
}


mat-card-header {
  padding: auto; // Ajuste automático de padding
  align-self: center; // Centra el header dentro del card
}

mat-card {
  background-color: #ffffff2c; // Fondo semi-transparente para el card
  border-radius: 20px; // Bordes redondeados para suavizar el diseño
  box-sizing: border-box; // Incluye padding en el tamaño
  height: fit-content; // Ajusta la altura al contenido
  width: fit-content; // Ajusta el ancho al contenido
  margin: 20px auto; // Centra el card con margen automático
 
}

ion-item {
  width: 98%; // Ancho completo del item
  margin: 10px auto; // Margen automático para centrar
  font-size: 18px; // Tamaño de fuente grande para mejor legibilidad
}


 ion-input {
  width: fit-content; // Ajusta el ancho al contenido
  align-self: center; // Centra el input dentro del card
  margin-top: 16px; // Espacio superior para separación
  margin-bottom: 10px; // Espacio inferior para separación
  padding: 3px; // Espacio interno pequeño
  padding-left: 12px; // Espacio interno a la izquierda para texto
  border: 1px solid #ccc; // Borde gris claro
  border-radius: 8px; // Bordes suavizados
  background-color: #c4c6d266; // Fondo gris claro translúcido
  text-align: center; // Alineación del texto a la izquierda
  color: #000000;  // Texto negro para buena legibilidad
  font-size: 16px !important; // Tamaño de fuente legible
  transition: border-color 0.3s, box-shadow 0.3s; // Transiciones suaves para interacción
}

.input1 {
  font-size: 24px !important;
  color: #151414ae;  // Texto negro para buena legibilidad
}

.input2 {
  font-size: 30px !important;
  color: #151414ae;  // Texto negro para buena legibilidad
}


ion-input:hover {
  
  background-color: #c5c8d4; // Cambio de fondo al pasar el mouse
  box-shadow: 0 0 5px rgba(70, 100, 165, 0.979); /* sombra sutil para resaltar */
}

.ion-padding {
  padding: auto; // Ajuste automático de padding
  background-color: #c29b9bf8; // Fondo azul translúcido para secciones con padding
}

mat-card-title {
  font-size: 24px; // Tamaño grande para título en cards
  font-weight: bold; // Negrita para destacar
  color: #ffffff; // Texto blanco para contraste
}

.usuario {
  font-size: 20px; // Tamaño medio para texto de usuario
  color: #ffffff; // Texto blanco para visibilidad
}

.custom-header-toolbar {
  --background: #c29b9bf8; // Fondo azul translúcido para toolbar
  --color: #ffffff; // Color de texto blanco
}



.foto-about{
  width: 150px; // Ancho fijo
  height: 150px; // Alto fijo
  margin: 5px auto; // Centrado con margen
  object-fit: cover; // Ajuste de la imagen dentro del contenedor
  border: 5px solid #ffffff; // Borde blanco
  display: block; // Comportamiento de bloque
  animation: pulse 2s ease-in-out infinite; // Animación de pulso suave
}

@keyframes pulse {
0%, 100% {
  transform: scale(0.9);
}
50% {
  transform: scale(1.05);
}
}


.btn-custom {
  background: #c29b9bf8 !important; // Fondo personalizado
  color: #ffffff !important; // Texto blanco
  border-radius: 20px; // Bordes redondeados
  padding: 10px 20px; // Espaciado interno
  margin: 10px; // Margen externo
  font-size: 16px; // Tamaño del texto
  font-weight: bold; // Texto en negrita
  transition: background 0.3s, transform 0.3s; // Transiciones suaves
}

.subtitulo {
  font-size: 20px; // Tamaño de fuente para subtítulos
  margin-top: 10px; // Margen superior para separación
  font-weight: bold; // Negrita para destacar
  color: #c29b9bf8; // Color negro para el texto
}


::ng-deep .alert-custom {
--ion-text-color: #c29b9b !important; /* Cambia el color general del texto */
height: auto; /* Altura automática para adaptarse al contenido */
margin-top: 10px; /* Margen superior para separación */
margin-bottom: 10px;  /* Margen inferior para separación */
--background: white; /* Fondo blanco */
}

::ng-deep.alert-button {
color: #c29b9b !important; /* Cambia el color del texto de los botones */
font-weight: bold;
}

.vinculo  {
  color: #c29b9bf8;
}