<ion-header>
  <ion-toolbar class="custom-header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button></ion-buttons>
      <app-logo></app-logo> <!--componente logo-->
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-card id="main">

    <mat-card class="ion-padding" color="primary" style="padding-top: 20px;">

      <mat-card-content>
        <img src="/assets/images/icon2.jpg" alt="Perfil Usuario" class="foto-about" />
      </mat-card-content>
    </mat-card>
    
    <div style="padding: 16px;">
      <h2 class="subtitulo">Acerca de MisMangas</h2>

    <ion-list>

      <ion-item>
        <p>
          MisMangas es una aplicación diseñada para los amantes del manga, donde
          puedes explorar, leer y disfrutar de tus series favoritas. Con una
          interfaz intuitiva y fácil de usar, MisMangas te permite acceder a una
          amplia biblioteca de mangas, desde los clásicos hasta los más recientes.
   
          Esta aplicación está en constante evolución, con actualizaciones regulares
          para mejorar la experiencia del usuario y añadir nuevas funciones.
  
          Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto
          con nosotros a través de nuestras redes sociales o correo electrónico.
        </p>
        
      </ion-item>      
    </ion-list>
    


      <div class="btns">
        
      </div>
    </div>
  </ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center" size="small">
      <app-footer></app-footer> <!--componente footer-->
    </ion-title>
  </ion-toolbar>
</ion-footer>
