<ion-content [fullscreen]="true">
  <ion-card id="main" color="light">
    
    <ion-card-header>
      <img src="/assets/images/logo.png" alt="Logo de MisMangas" class="logo" />
    </ion-card-header>
  
    <ion-list>

    <ion-card-content>
        
        <h1>Bienvenid&#64;!</h1>
      </ion-card-content>

      <ion-item>
        <ion-label class="label" position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="user" placeholder="nombre de usuario" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label" position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password" placeholder ="●●●●" type="password" style="padding-top: 10px;"></ion-input>
      </ion-item>

      <div class="ion-text-center">
        <ion-button class="login-button" (click)="login()">Ingresar</ion-button>
        
      </div>

      <ion-text color="medium">
        <p>
        <a class="vinculo" href="/registro">Registrarse</a>
        </p>
      </ion-text>

      <ion-text color="medium">
        <p>
        <a class="vinculo" href="/recuperar">¿Olvidaste tu contraseña?</a>
        </p>
      </ion-text>
    
    </ion-list>
  

  </ion-card>

  <ion-footer>
    <ion-toolbar color="light">
      <ion-title class="ion-text-center" size="small">
        <app-footer></app-footer> <!--componente footer-->
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>


