
<ion-content class="home">
  <ion-card id="main">

    <div style="padding: 16px;">
      <h2 class="subtitulo">Leídos</h2>

    <ion-list>

      <ion-item>
        <p style="text-align: justify;">
          MisMangas es una aplicación diseñada para los amantes del manga, donde
          puedes registrar tu progreso en los volúmenes de tu colección. 
        <br><br>
          Con una interfaz intuitiva y fácil de usar, MisMangas te permite acceder
          a tu historial de lectura de tus mangas, agregar/quitar títulos, 
          dejar puntuaciones según tu criterio y más funciones pensadas para el futuro.
        <br><br>
          Esta aplicación está en la etapa de propuesta y se encuentra en constante evolución, con actualizaciones regulares
          para mejorar la experiencia del usuario y añadir nuevas funciones.
        <br><br>
          Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto
          con nosotros a través de <a href="https://github.com/Dizz7" class="vinculo" target="_blank">Github</a>.
      </p>
        
      </ion-item>      
    </ion-list>
    


      <div class="btns">
        
      </div>
    </div>
  </ion-card>

</ion-content>
