
ion-card {
  display: flex; // Usa flexbox para centrar el contenido
  flex-direction: column; // Apila los elementos en columna
  height: auto; // Altura del contenedor principal, se ajusta a los items
  width: 95%;
  background-color: #ffffff; // Fondo blanco translúcido
  padding: 0 16px; /* Espacio horizontal alrededor del contenido */
  color: #333; // Color de texto oscuro
  text-align: center; // Centra el texto
  box-sizing: border-box; // Incluye el padding en el tamaño total
  border-radius: 10px; // Bordes redondeados
}

ion-content::part(scroll) {
  background-image: url('/../../assets/images/background.jpg'); // Imagen de fondo
  background-size: cover; // Escala la imagen para cubrir todo
  background-position: center; // Centra la imagen
  background-repeat: no-repeat; // No repetir la imagen

}

ion-content {
  display: flex; // Flexbox para el layout principal
  position: relative; // Necesario para posicionamiento interno
  height: 100%; // Altura completa
  width: 100%; // Ancho completo
  padding: 0 16px; // Padding lateral
  color: #333; // Color del texto
  text-align: center; // Centrado de texto
  box-sizing: border-box; // Incluye padding en el tamaño
}



.subtitulo {
  font-size: 20px; // Tamaño de fuente para subtítulos
  margin-top: 10px; // Margen superior para separación
  font-weight: bold; // Negrita para destacar
  color: #c29b9bf8; // Color negro para el texto
}

ion-item {
  width: 95%;
  height: auto;
  border: 1px solid #333; /* Borde de 1px, sólido, color negro */
  padding: 10px;
  margin: 10px;
  border-radius: 6px; /* (opcional) Bordes ligeramente redondeados */
}


.manga-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #333;
  border-radius: 8px;
  margin: 10px;
}

.manga-label {
  flex: 1;
}

.manga-img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-left: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.selector {
  width: 80%;
  margin-top: 10px;
}