.logo {
    width: 100px; // Ancho del logo
    margin-left: auto; // Empuja a la derecha
    margin-right: 16px; // Separación del borde derecho
    display: block; // Elimina espacio extra por inline
  }