<ion-header>
  <ion-toolbar class="custom-header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button></ion-buttons>
      <app-logo></app-logo> <!--componente logo-->
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-tabs>
     <ion-tab-bar slot="bottom">
      <ion-tab-button tab="misdatos" href="/home/misdatos" class="btn-tab">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Mis Datos</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="exp" href="/home/exp" class="btn-tab">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Experiencia</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cert" href="/home/cert" class="btn-tab">
        <ion-icon name="ribbon-outline"></ion-icon>
        <ion-label>Certificaciones</ion-label>
      </ion-tab-button>
      
      <!--  <ion-tab-button tab="experiencia" href="/home/experiencia" class="btn-tab">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Experiencia</ion-label>
      </ion-tab-button>
  
    <ion-tab-button tab="certificaciones" href="/home/certificaciones" class="btn-tab">
        <ion-icon name="ribbon-outline"></ion-icon>
        <ion-label>Certificaciones</ion-label>
      </ion-tab-button>   -->

    
     </ion-tab-bar>
    </ion-tabs>
    
    

  </ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center" size="small">
      <app-footer></app-footer> <!--componente footer-->
    </ion-title>
  </ion-toolbar>
</ion-footer>


